<template>
  <el-input
    v-model="title"
    placeholder="Task name and description..."
    size="mini"
    @keyup.enter.native="addTodo"
  >
    <i
      style="cursor: pointer"
      slot="prefix"
      class="el-input__icon el-icon-close"
      @click="$emit('close')"
    ></i>
  </el-input>
</template>

<script>
import Todo from "@/models/Todo";

export default {
  name: "AddTodoQuick",
  props: {
    state: {
      type: String,
      default() {
        return this.$store.state.STATE.NEW;
      }
    }
  },
  data() {
    return {
      title: ""
    };
  },
  methods: {
    addTodo() {
      if (this.title) {
        this.$store.commit("ADD_TODO", new Todo(this.title, this.state));
      }
      this.$emit("close");
    }
  }
};
</script>

<style scoped></style>
