<template>
  <div class="todo-column">
    <el-card shadow="hover">
      <div slot="header" class="clearfix">
        <span>{{ title }}</span>
        <el-button
          type="primary"
          circle
          size="mini"
          icon="el-icon-plus"
          style="float: right;"
          @click="showAddTodo = true"
        ></el-button>
      </div>
      <add-todo-quick
        :state="this.state"
        v-if="showAddTodo"
        @close="showAddTodo = false"
      />
    </el-card>
    <todo-list :state="this.state" />
  </div>
</template>

<script>
export default {
  name: "TodoColumn",
  props: {
    title: {
      type: String,
      required: true
    },
    state: {
      type: String,
      required: true
    },
    color: {
      type: String,
      default: "#000"
    }
  },
  data() {
    return {
      showAddTodo: false
    };
  },
  components: {
    AddTodoQuick: () => import("@/components/AddTodoQuick"),
    TodoList: () => import("@/components/TodoList")
  }
};
</script>

<style scoped>
.todo-column {
  margin-bottom: 1rem;
}
</style>
