<template>
  <el-card class="todo-item">
    <h4 v-if="!editing" @dblclick="editing = true">{{ todo.title }}</h4>
    <el-dropdown trigger="click" slot="header">
      <span class="el-dropdown-link" style="cursor: pointer">
        <i class="el-icon-arrow-down el-icon-more"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          v-for="state in states"
          :key="state.code"
          @click.native="updateState(state.code)"
        >
          {{ state.title }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-button
      class="delete-button"
      v-if="!editing"
      type="danger"
      size="mini"
      circle
      icon="el-icon-close"
      @click="onDelete"
    ></el-button>
    <el-input
      v-if="editing"
      v-model="todo.title"
      placeholder="Title..."
      @keyup.enter.native="onSubmit"
    >
      <i
        style="cursor: pointer"
        slot="prefix"
        class="el-input__icon el-icon-close"
        @click="editing = false"
      ></i>
    </el-input>
  </el-card>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    todo: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      editing: false,
      newTitle: this.todo.title,
      states: [
        {
          code: "NEW",
          title: "Backlog"
        },
        {
          code: "TODO",
          title: "Todo"
        },
        {
          code: "IN_PROGRESS",
          title: "In progress"
        },
        {
          code: "DONE",
          title: "Done"
        }
      ]
    };
  },
  methods: {
    onSubmit() {
      if (this.newTitle) {
        const todo = Object.assign({}, this.todo);
        todo.title = this.newTitle;
        this.$store.commit("UPDATE_TODO", todo);
      }
      this.editing = false;
    },
    updateState(state) {
      const todo = Object.assign({}, this.todo);
      todo.state = state;
      this.$store.commit("UPDATE_TODO", todo);
    },
    onDelete() {
      this.$store.commit("DELETE_TODO", this.todo.id);
    }
  }
};
</script>

<style scoped>
.todo-item {
  position: relative;
  margin-top: 1rem;
  overflow: visible;
}

.delete-button {
  transition: 0.3s;
  transform: translate(50%, -50%) scale(0);
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
}

.todo-item:hover .delete-button {
  transform: translate(50%, -50%) scale(1);
}

/* behaviour for touch browsers */
@media (hover: none) {
  .delete-button {
    transform: translate(50%, -50%) scale(1);
  }
}
</style>
