<template>
  <div>
    <todo-item
      class="todo-item"
      v-for="todo in todos"
      :todo="todo"
      :key="todo.id"
    />
  </div>
</template>

<script>
export default {
  name: "TodoList",
  components: { TodoItem: () => import("@/components/TodoItem") },
  props: {
    state: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      sortOrder: []
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: "200",
        ghostClass: "ghost",
        group: "todo-list-items"
      };
    },
    todos: {
      get() {
        return this.$store.state.todos.filter(
          todo => todo.state === this.state
        );
      }
    }
  }
};
</script>
