<template>
  <div id="app">
    <el-container>
      <el-header> <h1>Todo list</h1></el-header>
      <el-main>
        <!--------------------------------------------------------------->
        <el-row :gutter="20">
          <!-- All tasks list-->
          <el-col :xs="24" :sm="12" :lg="6">
            <todo-column title="Backlog" :state="$store.state.STATE.NEW" />
          </el-col>
          <!-- End of backlog column -->
          <!--------------------------------------------------------------->
          <!-- Todos column -->
          <el-col :xs="24" :sm="12" :lg="6">
            <todo-column title="Todos" :state="$store.state.STATE.TODO" />
          </el-col>
          <!-- End of todos column -->
          <!--------------------------------------------------------------->
          <!-- In progress column -->
          <el-col :xs="24" :sm="12" :lg="6">
            <todo-column
              title="In progress"
              :state="$store.state.STATE.IN_PROGRESS"
            />
          </el-col>
          <!-- End of in progress tasks column -->
          <!--------------------------------------------------------------->
          <!-- Done tasks column -->
          <el-col :xs="24" :sm="12" :md="12" :lg="6">
            <todo-column title="Done" :state="$store.state.STATE.DONE" />
          </el-col>
          <!-- End of done tasks column -->
          <!--------------------------------------------------------------->
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      addTodoVisible: false
    };
  },
  components: {
    TodoColumn: () => import("@/components/TodoColumn")
  }
};
</script>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
}

#app {
  background: #eeeeee;
  min-height: 100vh;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
